# Analisis de datos sobre la evolución del anime

### Comenzamos con la obtención de el data set

In [50]:
import os
import pandas as pd
import json
import requests
from bs4 import BeautifulSoup
import time
df = pd.read_json('data.json')

### Exploración inicial

In [51]:
df.head()

,mal_id,titles,type,source,episodes,rating,score,scored_by,rank,popularity,members,favorites,synopsis,studios,genres,themes
0,1550,"[Attack No.1, ]",TV,Manga,104.0,PG-13 - Teens 13 or older,7.07,4117.0,4124.0,6406,9979,72,Kozue is a middleschool girl and enthusiastic ...,Tokyo Movie Shinsha,"[Drama, Sports]",[Team Sports]
1,2406,"[Sazae-san, Mrs. Sazae]",TV,4-koma manga,NaN,G - All Ages,6.14,1869.0,9126.0,6890,8403,38,The main character is a mother named Sazae-san...,Eiken,"[Comedy, Slice of Life]",[]
2,9895,"[The Bathroom, ]",Movie,Original,1.0,R - 17+ (violence & profanity),4.22,1003.0,13223.0,11636,1779,0,A surrealistic short from minimalist cartoonis...,Kuri Jikken Manga Koubou,"[Avant Garde, Comedy]",[]
3,9163,"[Attack No.1 (1970), ]",Movie,Unknown,1.0,PG-13 - Teens 13 or older,6.39,444.0,7795.0,12299,1410,3,"The first recap film of Attack No.1 , it cover...",,"[Drama, Sports]",[Team Sports]
4,7259,"[Kenju Giga, Anthropo-Cynical Farce]",Movie,Original,1.0,PG-13 - Teens 13 or older,4.92,595.0,12800.0,12805,1206,0,"A dog race is interrupted by a ringmaster, who...",,[],"[Parody, Psychological]"

In [52]:
df.shape

(5056, 16)

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5056 entries, 0 to 5055
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   mal_id      5056 non-null   int64
 1   titles      5056 non-null   object
 2   type        5055 non-null   object
 3   source      5056 non-null   object
 4   episodes    4539 non-null   float64
 5   rating      5022 non-null   object
 6   score       4817 non-null   float64
 7   scored_by   4817 non-null   float64
 8   rank        4786 non-null   float64
 9   popularity  5056 non-null   int64
 10  members     5056 non-null   int64
 11  favorites   5056 non-null   int64
 12  synopsis    5009 non-null   object
 13  studios     5056 non-null   object
 14  genres      5056 non-null   object
 15  themes      5056 non-null   object
dtypes: float64(4), int64(4), object(8)
memory usage: 632.1+ KB

In [54]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
mal_id,5056.0,13436.020372,16425.207730,1.0,1427.50,4526.00,23347.50,58391.00
episodes,4539.0,18.509363,62.329765,1.0,1.00,12.00,23.00,1787.00
score,4817.0,7.029498,0.931790,2.0,6.46,7.11,7.67,9.38
scored_by,4817.0,122923.990450,274915.307253,105.0,1723.00,17975.00,118269.00,2795232.00
rank,4786.0,4862.653155,4240.655440,1.0,1320.00,3877.50,7454.00,20609.00
popularity,5056.0,5827.900514,5668.755969,1.0,1049.75,3843.00,9501.50,26508.00
members,5056.0,218764.009691,454454.926491,51.0,3564.00,33540.50,231483.75,3943368.00
favorites,5056.0,6901.799248,32039.765112,0.0,5.00,90.00,1257.00,225867.00

In [55]:
df.describe(include='object').T

         count unique                                                top  freq
titles    5056   4516                            [Sazae-san, Mrs. Sazae]   126
type      5055      8                                                 TV  2861
source    5056     17                                              Manga  2147
rating    5022      6                          PG-13 - Teens 13 or older  2444
synopsis  5009   4442  The main character is a mother named Sazae-san...   126
studios   5056    339                                                      512
genres    5056    630                       [Action, Adventure, Fantasy]   251
themes    5056    561                                                 []  1541

In [56]:
# No me deja ver los valores unicos de todas las columnas porque las columnas contienen listas.

In [57]:
for col in df.select_dtypes(include='object').columns:
    if df[col].apply(lambda x: isinstance(x, list)).any():
        print(f"Columna {col} contiene listas")

Columna titles contiene listas
Columna genres contiene listas
Columna themes contiene listas

In [58]:
# Convertir las listas de genres en columnas separadas
# Primero, creamos una nueva DataFrame con las listas convertidas en series.
genres_split = df['genres'].apply(lambda x: pd.Series(x) if isinstance(x, list) else pd.Series([None]*3))
genres_split.columns = ['genre_1', 'genre_2', 'genre_3', 'genre_4', 'genre_5','genre_6','genre_7']

# Concatenar las nuevas columnas al DataFrame original
df_nuevo = pd.concat([df.drop(columns=['genres']), genres_split], axis=1)

In [59]:
# Calcular la proporción de valores nulos en las columnas de géneros para ver con cuales me quedo.
proporcion_nulos = df_nuevo[['genre_1', 'genre_2', 'genre_3', 'genre_4', 'genre_5', 'genre_6', 'genre_7']].isna().sum() / df_nuevo.shape[0]
print(proporcion_nulos)

genre_1    0.048457
genre_2    0.218948
genre_3    0.523932
genre_4    0.825949
genre_5    0.951741
genre_6    0.989715
genre_7    0.999209
dtype: float64

In [60]:
df_nuevo = df_nuevo.drop(['genre_3', 'genre_4', 'genre_5', 'genre_6', 'genre_7'], axis=1)
df = df_nuevo

In [61]:
#Me quedo solo con el primer theme.
def extraer_theme_antes_coma(themes):
    if isinstance(themes, list) and len(themes) > 0:
        return themes[0].split(',')[0].strip()
    return None

df['themes'] = df['themes'].apply(extraer_theme_antes_coma)

In [62]:
#Saco de la lista los titulos.
df['titles'] = df['titles'].apply(lambda x: x[0] if isinstance(x, list) and x else x)

In [63]:
df.nunique()

mal_id        4516
titles        4516
type             8
source          17
episodes       160
rating           6
score          472
scored_by     3822
rank          3844
popularity    4358
members       4248
favorites     1725
synopsis      4442
studios        339
themes          50
genre_1         21
genre_2         20
dtype: int64

In [64]:
df.columns

Index(['mal_id', 'titles', 'type', 'source', 'episodes', 'rating', 'score',
       'scored_by', 'rank', 'popularity', 'members', 'favorites', 'synopsis',
       'studios', 'themes', 'genre_1', 'genre_2'],
      dtype='object')

In [65]:
#Al final themes no me ha parecido interesante.
df.rename(columns={'popularity':'audicence_rank'}, inplace=True)
df.drop(['favorites','themes'], axis=1)

,mal_id,titles,type,source,episodes,rating,score,scored_by,rank,audicence_rank,members,synopsis,studios,genre_1,genre_2
0,1550,Attack No.1,TV,Manga,104.0,PG-13 - Teens 13 or older,7.07,4117.0,4124.0,6406,9979,Kozue is a middleschool girl and enthusiastic ...,Tokyo Movie Shinsha,Drama,Sports
1,2406,Sazae-san,TV,4-koma manga,NaN,G - All Ages,6.14,1869.0,9126.0,6890,8403,The main character is a mother named Sazae-san...,Eiken,Comedy,Slice of Life
2,9895,The Bathroom,Movie,Original,1.0,R - 17+ (violence & profanity),4.22,1003.0,13223.0,11636,1779,A surrealistic short from minimalist cartoonis...,Kuri Jikken Manga Koubou,Avant Garde,Comedy
3,9163,Attack No.1 (1970),Movie,Unknown,1.0,PG-13 - Teens 13 or older,6.39,444.0,7795.0,12299,1410,"The first recap film of Attack No.1 , it cover...",,Drama,Sports
4,7259,Kenju Giga,Movie,Original,1.0,PG-13 - Teens 13 or older,4.92,595.0,12800.0,12805,1206,"A dog race is interrupted by a ringmaster, who...",,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5051,56230,Jiisan Baasan Wakagaeru,TV,Web manga,11.0,PG-13 - Teens 13 or older,7.07,9411.0,4141.0,2429,77998,Shouzou and Ine Saitou have been happily marri...,Gekkou,Comedy,Romance
5052,56923,Lv2 kara Cheat datta Motoyuusha Kouho no Matta...,TV,Light novel,12.0,PG-13 - Teens 13 or older,7.02,10747.0,4349.0,2460,76187,The Magical Kingdom of Klyrode summons hundred...,J.C.Staff,Adventure,Fantasy
5053,53835,Unnamed Memory,TV,Light novel,12.0,PG-13 - Teens 13 or older,7.25,8563.0,3091.0,2463,76018,"As a young boy, Prince Oscar Lyeth Increatos L...",ENGI,Adventure,Fantasy
5054,52995,Arifureta Shokugyou de Sekai Saikyou Season 3,TV,Light novel,NaN,PG-13 - Teens 13 or older,NaN,NaN,NaN,2482,75338,Third season of Arifureta Shokugyou de Sekai S...,asread.,Action,Adventure
5055,37885,Super Dragon Ball Heroes,ONA,Game,NaN,PG-13 - Teens 13 or older,5.35,28936.0,12121.0,2488,75034,"In May 2018, V-Jump announced the promotional ...",Dimps,Action,Comedy

In [66]:
df = df[['mal_id', 'titles', 'type', 'genre_1', 'genre_2', 'source', 'studios', 'episodes', 'rating', 'score',
       'audicence_rank','scored_by', 'rank', 'members', 'favorites',
       'synopsis']]

In [67]:
# Ahora que tengo los datos un poco ordenados y se que me falta, voy a hacer web scraping

### Web sraping

In [68]:
#Primero las fechas
animes = []

for offset in range(0, 5550, 50):
    url = f"https://myanimelist.net/topanime.php?limit={offset}"
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')

    lista = soup.find_all('tr', class_='ranking-list')

    for anime in lista:
        title_tag = anime.find('h3', class_='anime_ranking_h3')
        title = title_tag.text.strip() if title_tag else None

        
        info_div = anime.find('div', class_='information di-ib mt4')
        fecha_emision = None
        if info_div:
            lines = info_div.text.strip().split('\n')
            if len(lines) >= 2:
                fecha_emision = lines[1].strip()

        animes.append({
            'title': title,
            'fecha_emision': fecha_emision
        })

    time.sleep(1)  

df_fechas = pd.DataFrame(animes)
df_fechas.head()

                                title        fecha_emision
0                   Sousou no Frieren  Sep 2023 - Mar 2024
1    Fullmetal Alchemist: Brotherhood  Apr 2009 - Jul 2010
2                         Steins;Gate  Apr 2011 - Sep 2011
3  Shingeki no Kyojin Season 3 Part 2  Apr 2019 - Jul 2019
4                One Piece Fan Letter  Oct 2024 - Oct 2024

In [69]:
df_fechas['year'] = df_fechas['fecha_emision'].str.extract(r'(\d{4})').astype(int)

In [70]:
df_fechas.rename(columns={'title': 'titles'}, inplace=True)

In [71]:
df_n = pd.merge(df,df_fechas,on='titles',how='left')

In [72]:
animes_2020_en_adelante = df_n[df_n['year'] >= 2020]
print(f"Número de animes desde 2020: {len(animes_2020_en_adelante)}")

Número de animes desde 2020: 371

### API

In [73]:
def get_popular_animes(limit=5550):
    url = 'https://api.jikan.moe/v4/anime'
    animes = []
    page = 1
    per_page = 25

    while len(animes) < limit:
        response = requests.get(url, params={'page': page, 'limit': per_page})
        print(f"Página {page}, Código: {response.status_code}")

        if response.status_code == 200:
            data = response.json()
            if not data.get('data'):
                print("No hay más datos.")
                break

            animes.extend(data['data'])
            print(f"Total recolectado: {len(animes)}")
            page += 1
            time.sleep(1)  # 🛑 Espera obligatoria para evitar rate limit
        elif response.status_code == 429:
            print("⚠️ Rate limit alcanzado. Esperando 10 segundos...")
            time.sleep(10)  # Espera más larga para recuperarse
        else:
            print(f"❌ Error en página {page}: {response.text}")
            break

    return animes

# Ejecutar
popular_animes = get_popular_animes()

Página 1, Código: 200
Total recolectado: 25
Página 2, Código: 200
Total recolectado: 50
Página 3, Código: 200
Total recolectado: 75
Página 4, Código: 200
Total recolectado: 100
Página 5, Código: 200
Total recolectado: 125
Página 6, Código: 200
Total recolectado: 150
Página 7, Código: 200
Total recolectado: 175
Página 8, Código: 200
Total recolectado: 200
Página 9, Código: 200
Total recolectado: 225
Página 10, Código: 200
Total recolectado: 250
Página 11, Código: 200
Total recolectado: 275
Página 12, Código: 200
Total recolectado: 300
Página 13, Código: 200
Total recolectado: 325
Página 14, Código: 200
Total recolectado: 350
Página 15, Código: 200
Total recolectado: 375
Página 16, Código: 200
Total recolectado: 400
Página 17, Código: 200
Total recolectado: 425
Página 18, Código: 200
Total recolectado: 450
Página 19, Código: 200
Total recolectado: 475
Página 20, Código: 200
Total recolectado: 500
Página 21, Código: 200
Total recolectado: 525
Página 22, Código: 200
Total recolectado: 550
Página 23, Código: 200
Total recolectado: 575
Página 24, Código: 200
Total recolectado: 600
Página 25, Código: 200
Total recolectado: 625
Página 26, Código: 200
Total recolectado: 650
Página 27, Código: 200
Total recolectado: 675
Página 28, Código: 200
Total recolectado: 700
Página 29, Código: 200
Total recolectado: 725
Página 30, Código: 200
Total recolectado: 750
Página 31, Código: 200
Total recolectado: 775
Página 32, Código: 200
Total recolectado: 800
Página 33, Código: 200
Total recolectado: 825
Página 34, Código: 200
Total recolectado: 850
Página 35, Código: 200
Total recolectado: 875
Página 36, Código: 200
Total recolectado: 900
Página 37, Código: 200
Total recolectado: 925
Página 38, Código: 200
Total recolectado: 950
Página 39, Código: 200
Total recolectado: 975
Página 40, Código: 200
Total recolectado: 1000
Página 41, Código: 200
Total recolectado: 1025
Página 42, Código: 200
Total recolectado: 1050
Página 43, Código: 200
Total recolectado: 1075
Página 44, Código: 200
Total recolectado: 1100
Página 45, Código: 200
Total recolectado: 1125
Página 46, Código: 200
Total recolectado: 1150
Página 47, Código: 200
Total recolectado: 1175
Página 48, Código: 200
Total recolectado: 1200
Página 49, Código: 200
Total recolectado: 1225
Página 50, Código: 200
Total recolectado: 1250
Página 51, Código: 200
Total recolectado: 1275
Página 52, Código: 200
Total recolectado: 1300
Página 53, Código: 200
Total recolectado: 1325
Página 54, Código: 200
Total recolectado: 1350
Página 55, Código: 200
Total recolectado: 1375
Página 56, Código: 200
Total recolectado: 1400
Página 57, Código: 200
Total recolectado: 1425
Página 58, Código: 200
Total recolectado: 1450
Página 59, Código: 200
Total recolectado: 1475
Página 60, Código: 200
Total recolectado: 1500
Página 61, Código: 200
Total recolectado: 1525
Página 62, Código: 200
Total recolectado: 1550
Página 63, Código: 200
Total recolectado: 1575
Página 64, Código: 200
Total recolectado: 1600
Página 65, Código: 200
Total recolectado: 1625
Página 66, Código: 200
Total recolectado: 1650
Página 67, Código: 200
Total recolectado: 1675
Página 68, Código: 200
Total recolectado: 1700
Página 69, Código: 200
Total recolectado: 1725
Página 70, Código: 200
Total recolectado: 1750
Página 71, Código: 200
Total recolectado: 1775
Página 72, Código: 200
Total recolectado: 1800
Página 73, Código: 200
Total recolectado: 1825
Página 74, Código: 200
Total recolectado: 1850
Página 75, Código: 200
Total recolectado: 1875
Página 76, Código: 200
Total recolectado: 1900
Página 77, Código: 200
Total recolectado: 1925
Página 78, Código: 200
Total recolectado: 1950
Página 79, Código: 200
Total recolectado: 1975
Página 80, Código: 200
Total recolectado: 2000
Página 81, Código: 200
Total recolectado: 2025
Página 82, Código: 200
Total recolectado: 2050
Página 83, Código: 200
Total recolectado: 2075
Página 84, Código: 200
Total recolectado: 2100
Página 85, Código: 200
Total recolectado: 2125
Página 86, Código: 200
Total recolectado: 2150
Página 87, Código: 200
Total recolectado: 2175
Página 88, Código: 200
Total recolectado: 2200
Página 89, Código: 200
Total recolectado: 2225
Página 90, Código: 200
Total recolectado: 2250
Página 91, Código: 200
Total recolectado: 2275
Página 92, Código: 200
Total recolectado: 2300
Página 93, Código: 200
Total recolectado: 2325
Página 94, Código: 200
Total recolectado: 2350
Página 95, Código: 200
Total recolectado: 2375
Página 96, Código: 200
Total recolectado: 2400
Página 97, Código: 200
Total recolectado: 2425
Página 98, Código: 200
Total recolectado: 2450
Página 99, Código: 200
Total recolectado: 2475
Página 100, Código: 200
Total recolectado: 2500
Página 101, Código: 200
Total recolectado: 2525
Página 102, Código: 200
Total recolectado: 2550
Página 103, Código: 200
Total recolectado: 2575
Página 104, Código: 200
Total recolectado: 2600
Página 105, Código: 200
Total recolectado: 2625
Página 106, Código: 200
Total recolectado: 2650
Página 107, Código: 200
Total recolectado: 2675
Página 108, Código: 200
Total recolectado: 2700
Página 109, Código: 200
Total recolectado: 2725
Página 110, Código: 200
Total recolectado: 2750
Página 111, Código: 200
Total recolectado: 2775
Página 112, Código: 200
Total recolectado: 2800
Página 113, Código: 200
Total recolectado: 2825
Página 114, Código: 200
Total recolectado: 2850
Página 115, Código: 200
Total recolectado: 2875
Página 116, Código: 200
Total recolectado: 2900
Página 117, Código: 200
Total recolectado: 2925
Página 118, Código: 200
Total recolectado: 2950
Página 119, Código: 200
Total recolectado: 2975
Página 120, Código: 200
Total recolectado: 3000
Página 121, Código: 200
Total recolectado: 3025
Página 122, Código: 200
Total recolectado: 3050
Página 123, Código: 200
Total recolectado: 3075
Página 124, Código: 200
Total recolectado: 3100
Página 125, Código: 200
Total recolectado: 3125
Página 126, Código: 200
Total recolectado: 3150
Página 127, Código: 200
Total recolectado: 3175
Página 128, Código: 200
Total recolectado: 3200
Página 129, Código: 200
Total recolectado: 3225
Página 130, Código: 200
Total recolectado: 3250
Página 131, Código: 200
Total recolectado: 3275
Página 132, Código: 200
Total recolectado: 3300
Página 133, Código: 200
Total recolectado: 3325
Página 134, Código: 200
Total recolectado: 3350
Página 135, Código: 200
Total recolectado: 3375
Página 136, Código: 200
Total recolectado: 3400
Página 137, Código: 200
Total recolectado: 3425
Página 138, Código: 200
Total recolectado: 3450
Página 139, Código: 200
Total recolectado: 3475
Página 140, Código: 200
Total recolectado: 3500
Página 141, Código: 200
Total recolectado: 3525
Página 142, Código: 200
Total recolectado: 3550
Página 143, Código: 200
Total recolectado: 3575
Página 144, Código: 200
Total recolectado: 3600
Página 145, Código: 200
Total recolectado: 3625
Página 146, Código: 200
Total recolectado: 3650
Página 147, Código: 200
Total recolectado: 3675
Página 148, Código: 200
Total recolectado: 3700
Página 149, Código: 200
Total recolectado: 3725
Página 150, Código: 200
Total recolectado: 3750
Página 151, Código: 200
Total recolectado: 3775
Página 152, Código: 200
Total recolectado: 3800
Página 153, Código: 200
Total recolectado: 3825
Página 154, Código: 200
Total recolectado: 3850
Página 155, Código: 200
Total recolectado: 3875
Página 156, Código: 200
Total recolectado: 3900
Página 157, Código: 200
Total recolectado: 3925
Página 158, Código: 200
Total recolectado: 3950
Página 159, Código: 200
Total recolectado: 3975
Página 160, Código: 200
Total recolectado: 4000
Página 161, Código: 200
Total recolectado: 4025
Página 162, Código: 200
Total recolectado: 4050
Página 163, Código: 200
Total recolectado: 4075
Página 164, Código: 200
Total recolectado: 4100
Página 165, Código: 200
Total recolectado: 4125
Página 166, Código: 200
Total recolectado: 4150
Página 167, Código: 200
Total recolectado: 4175
Página 168, Código: 200
Total recolectado: 4200
Página 169, Código: 200
Total recolectado: 4225
Página 170, Código: 200
Total recolectado: 4250
Página 171, Código: 200
Total recolectado: 4275
Página 172, Código: 200
Total recolectado: 4300
Página 173, Código: 200
Total recolectado: 4325
Página 174, Código: 200
Total recolectado: 4350
Página 175, Código: 200
Total recolectado: 4375
Página 176, Código: 200
Total recolectado: 4400
Página 177, Código: 200
Total recolectado: 4425
Página 178, Código: 200
Total recolectado: 4450
Página 179, Código: 200
Total recolectado: 4475
Página 180, Código: 200
Total recolectado: 4500
Página 181, Código: 200
Total recolectado: 4525
Página 182, Código: 200
Total recolectado: 4550
Página 183, Código: 200
Total recolectado: 4575
Página 184, Código: 200
Total recolectado: 4600
Página 185, Código: 200
Total recolectado: 4625
Página 186, Código: 200
Total recolectado: 4650
Página 187, Código: 200
Total recolectado: 4675
Página 188, Código: 200
Total recolectado: 4700
Página 189, Código: 200
Total recolectado: 4725
Página 190, Código: 200
Total recolectado: 4750
Página 191, Código: 200
Total recolectado: 4775
Página 192, Código: 200
Total recolectado: 4800
Página 193, Código: 200
Total recolectado: 4825
Página 194, Código: 200
Total recolectado: 4850
Página 195, Código: 200
Total recolectado: 4875
Página 196, Código: 200
Total recolectado: 4900
Página 197, Código: 200
Total recolectado: 4925
Página 198, Código: 200
Total recolectado: 4950
Página 199, Código: 200
Total recolectado: 4975
Página 200, Código: 200
Total recolectado: 5000
Página 201, Código: 200
Total recolectado: 5025
Página 202, Código: 200
Total recolectado: 5050
Página 203, Código: 200
Total recolectado: 5075
Página 204, Código: 200
Total recolectado: 5100
Página 205, Código: 200
Total recolectado: 5125
Página 206, Código: 200
Total recolectado: 5150
Página 207, Código: 200
Total recolectado: 5175
Página 208, Código: 200
Total recolectado: 5200
Página 209, Código: 200
Total recolectado: 5225
Página 210, Código: 200
Total recolectado: 5250
Página 211, Código: 200
Total recolectado: 5275
Página 212, Código: 200
Total recolectado: 5300
Página 213, Código: 200
Total recolectado: 5325
Página 214, Código: 200
Total recolectado: 5350
Página 215, Código: 200
Total recolectado: 5375
Página 216, Código: 200
Total recolectado: 5400
Página 217, Código: 200
Total recolectado: 5425
Página 218, Código: 200
Total recolectado: 5450
Página 219, Código: 200
Total recolectado: 5475
Página 220, Código: 200
Total recolectado: 5500
Página 221, Código: 200
Total recolectado: 5525
Página 222, Código: 200
Total recolectado: 5550

In [76]:
df_state = pd.DataFrame(popular_animes)
df_state.columns

Index(['mal_id', 'url', 'images', 'trailer', 'approved', 'titles', 'title',
       'title_english', 'title_japanese', 'title_synonyms', 'type', 'source',
       'episodes', 'status', 'airing', 'aired', 'duration', 'rating', 'score',
       'scored_by', 'rank', 'popularity', 'members', 'favorites', 'synopsis',
       'background', 'season', 'year', 'broadcast', 'producers', 'licensors',
       'studios', 'genres', 'explicit_genres', 'themes', 'demographics'],
      dtype='object')

In [77]:
columns_to_keep = ['mal_id', 'status', 'airing', 'season', 'year']
df_2 = df_state[columns_to_keep]

In [78]:
df_2.head()

   mal_id           status  airing  season    year
0       1  Finished Airing   False  spring  1998.0
1       5  Finished Airing   False    None     NaN
2       6  Finished Airing   False  spring  1998.0
3       7  Finished Airing   False  summer  2002.0
4       8  Finished Airing   False    fall  2004.0

### Voy a juntar la información que he sacado

In [79]:
df_final = pd.merge(df_n, df_2, on = 'mal_id', how='left')

In [83]:
df_final.columns

Index(['mal_id', 'titles', 'type', 'genre_1', 'genre_2', 'source', 'studios',
       'episodes', 'rating', 'score', 'audicence_rank', 'scored_by', 'rank',
       'members', 'favorites', 'synopsis', 'fecha_emision', 'year_x', 'status',
       'airing', 'season', 'year_y'],
      dtype='object')

In [84]:
df_final['year'] = df_final['year_x'].combine_first(df_final['year_y'])

In [85]:
df_final.drop(['year_x', 'year_y'], axis=1, inplace=True)

In [ ]:
#Parece que tengo que filtrar los animes por año para que me de animes más nuevos, tendre que usar una funcion distinta para llamar a la api.
animes_2020_en_adelante = df_final[df_final['year'] >= 2020]
print(f"Número de animes desde 2020: {len(animes_2020_en_adelante)}")

Número de animes desde 2020: 371

In [98]:
df_final.to_csv('anime_data.csv', index=False)

#### He pasado este df a un csv que esta en la misma carpeta, y que usare para hacer la limpieza y los insights. Hasta aqui la minería para conseguir la informacion que queria.